body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111;
    color:white;
}

header{
    text-align:center;
    padding:60px;
    background:#1f1f1f;
}

section{
    max-width:900px;
    margin:auto;
    padding:40px;
}

.project{
    background:#222;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
}

a{
    color:#4da3ff;
}

footer{
    text-align:center;
    padding:30px;
}